#about {
  .about-img {
    width: 22rem;
    height: 22rem;
    margin-top: 2rem;

    @media (max-width: $md) {
      width: 15rem;
      height: 15rem;
      margin-bottom: 2rem;
      margin-top: 0;
    }

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .laden-img {
    padding-top: 0;
    margin-bottom: 3rem;
  }

  .container-1 {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);

    .info-box {
      @extend .container;

      position: relative;
      width: 100%;
      height: auto;
      // padding-bottom: 3rem;

      h3 {
        opacity: 1;
        color: $blue;
        padding: 3rem 0 3rem 0;
      }

      .about-btn {
        @extend .red-btn;

        font-size: 2.5rem;
        margin-bottom: 3rem;
        border: 3px solid $red;

        &:hover {
          border: 3px solid $blue;
        }

        @media (max-width: $md) {
          font-size: 1.75rem;
          height: auto;
          border: 2px solid $red;

          &:hover {
            border: 2px solid $blue;
          }
        }

        width: auto;
      }
    }
  }

  .acf-map {
    width: 100%;
    height: 48rem;

    @media (max-width: $md) {
      height: 34rem;
    }
  }

  // Fixes potential theme css conflict.
  .acf-map img {
    max-width: inherit !important;
  }

  .marker {
    height: 15px !important;
  }
}
