.categories-btn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  .red-btn-categories {
    @extend .red-btn;

    width: 30rem;
    margin: 0 3vw 2vw 3vw;

    @media (max-width: $md) {
      height: 4rem;
    }
  }

  .sales-btn-box {
    width: 30rem;
    margin: 0 3vw 2.5vw 3vw;
    display: flex;
    flex-direction: column;
  }

  .sales-btn {
    @extend .red-btn;

    border-radius: 100%;
    width: 14rem;
    height: 14rem;
    align-self: center;
    justify-content: center;
    align-items: center;
    padding: 5px;

    @media (max-width: $md) {
      width: 8rem;
      height: 8rem;
    }
  }
}

.swiper-pagination {
  z-index: 2;
  bottom: 0;

  @media (max-width: $md) {
    text-align: left;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    bottom: 0;
    margin: 4px;
  }

  .swiper-pagination-bullet-active {
    background-color: $blue;
  }
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  bottom: -10px;
  top: auto;
  width: 4rem;
  z-index: 3;

  &::after {
    width: 4rem;
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
    color: transparent;
  }

  @media (max-width: $md) {
    display: none;
  }
}

.swiper-button-next::after {
  background-image: url("../images/arrow-back-sm.svg");
}

.swiper-button-prev::after {
  background-image: url("../images/arrow-back-sm.svg");
  transform: scaleX(-1);
}

.swiper-button-disabled {
  display: none;
}

.cannondale-btn {
  @extend .red-btn;

  width: auto;
  height: auto;
  align-self: center;

  span {
    color: $blue;
  }
}

// .arrow-container {
//   position: relative;
//   right: 0;
//   // top: 0;
//   margin-top: 1.5rem;
//   // width: 100%;
//   // height: auto;

//   @media (max-width: $md) {
//     width: 100%;
//     // top: auto;
//     bottom: 0;
//     display: none;
//   }
// }

// modal
// .zubehoer-content {
//   font-size: 3.5rem;
// }

// .zubehoer-box {
//   display: flex;
//   // justify-content: space-between;
//   flex-wrap: wrap;

//   @media (max-width: $md) {
//     flex-direction: column;
//     // justify-content: center;
//   }

//   .zubehoer-beschreibung {
//     padding: 0 1rem 10rem 1rem;
//     // max-width: 40rem;
//     width: 33%;
//     min-width: 25rem;

//     @media (max-width: $md) {
//       width: 100%;
//     }

//     .zubehoer-img {
//       width: 100%;
//       min-width: 20rem;
//       max-width: 40rem;
//       margin-bottom: 3rem;
//       max-height: 37rem;

//       img {
//         height: 100%;
//         width: 100%;
//         object-fit: contain;
//       }
//     }
//   }
// }
