.blog {
  .introduction {
    margin-top: 9rem;

    @media (max-width: $md) {
      margin-top: 4rem;
      margin-bottom: 4rem;
    }
  }

  .content-wrapper {
    margin-bottom: 7rem;

    @media (max-width: $md) {
      margin-bottom: 4rem;
    }
  }

  .blog-post {
    .date {
      color: $red;
      font-size: 2rem;
      padding-bottom: 1rem;

      @media (max-width: $md) {
        font-size: 1.5rem;
      }
    }

    .content {
      width: 66%;

      @media (max-width: $md) {
        width: 100%;
      }

      h2 {
        color: $blue;
        padding-bottom: 2rem;
      }

      .blog-p {
        margin-bottom: 2rem;
      }

      .content-img {
        margin-bottom: 2rem;
        padding-top: 0;
        max-height: 56rem;
        overflow: hidden;
        // height: 35rem;

        @media (max-width: $md) {
          max-height: 35rem;
          overflow: hidden;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .red-btn {
        // padding-bottom: 2rem;
        border: 3px solid $red;

        &:hover {
          border: 3px solid $blue;
        }

        @media (max-width: $md) {
          font-size: 1.75rem;
          border: 2px solid $red;

          &:hover {
            border: 2px solid $blue;
          }
        }
      }
    }
  }
}
