footer,
.footer {
  padding-bottom: 7rem;

  #rad {
    animation: spin 2s ease-in-out infinite;
    animation-play-state: paused;
    width: 20%;
    max-width: 20rem;
    min-width: 12rem;
  }

  #rad:hover {
    animation-play-state: running;
  }

  @keyframes spin {
    100% {
      transform: rotate(1turn);
    }
  }

  .footer-satz {
    color: $red;
    width: 66%;

    @media (max-width: $md) {
      width: 100%;
    }
  }

  .footer-bottom {
    color: $blue;

    @media (max-width: $md) {
      font-size: 1.5rem;
    }

    a {
      &:hover {
        color: $red;
      }
    }

    .impressum {
      font-size: 2rem;
      cursor: pointer;

      @media (max-width: $md) {
        font-size: 1.5rem;
      }

      p {
        &:hover {
          color: $red;
        }
      }
    }

    .bottom-right {
      width: 66%;

      @media (max-width: $md) {
        width: 100%;
      }
    }
  }
}

#impressum,
#datenschutz {
  padding-bottom: 7rem;

  a {
    &:hover {
      color: $red;
    }
  }
}
