header {
  background-color: $blue;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 33;
  transition: background-color 0.5s;

  &.grey {
    background-color: $font-hover-color;
  }

  nav {
    @media (max-width: $md) {
      overflow: auto;
      // height: 100vh;
      max-height: 100vh;
      transition: height 0.2s;
    }
  }

  .navbar {
    padding: 0 4rem !important;

    @media (max-width: $md) {
      padding: 0 2rem !important;
    }

    .navbar-brand {
      // margin: 1em 0;
      height: 10.7rem;
      line-height: 1;
      display: block;
      transition: display 1s;
      color: white;
      padding: 0;

      @media (max-width: $md) {
        height: 8rem;
      }

      img {
        width: 24rem;
        margin: 2.9rem 0;

        @media (max-width: $md) {
          width: 17rem;
          margin: 1.6rem 0;
        }
      }

      &.disappear {
        display: none;
      }
    }

    button {
      position: fixed;
      top: 2vh;
      right: 2vh;

      &:focus {
        outline: none;
      }
    }

    .navbar-toggler {
      padding: 0;

      #nav-icon3 {
        width: 30px;
        height: 30px;
        position: relative;
        margin: 0 auto;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.5s ease-in-out;
        -moz-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;
        cursor: pointer;
      }

      #nav-icon3 span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: white;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.25s ease-in-out;
        -moz-transition: 0.25s ease-in-out;
        -o-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;
      }

      /* Icon 3 */

      #nav-icon3 span:nth-child(1) {
        top: 0;
      }

      #nav-icon3 span:nth-child(2),
      #nav-icon3 span:nth-child(3) {
        top: 10px;
      }

      #nav-icon3 span:nth-child(4) {
        top: 20px;
      }

      #nav-icon3.open span:nth-child(1) {
        top: 10px;
        width: 0%;
        left: 50%;
      }

      #nav-icon3.open span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      #nav-icon3.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }

      #nav-icon3.open span:nth-child(4) {
        top: 10px;
        width: 0%;
        left: 50%;
      }
    }

    ul {
      @media (max-width: $md) {
        // height: 100vh;
        // min-height: 100vh;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        // justify-content: space-around;
      }

      #nav-address {
        align-self: start;
        margin-inline-start: 2rem;
        margin-top: 1rem;
        display: none;
        font-size: 1.75rem;

        @media (max-width: $md) {
          display: block;
          padding-top: 10vh;
        }
      }
    }

    .nav-link {
      color: white;
      padding: 0 0 0 3.5rem !important;
      font-size: 2.5rem;

      &:hover {
        color: $font-hover-color;
      }

      @media (max-width: $md) {
        color: $red;
        padding: 0 0 2rem 0 !important;
        font-size: 3.5rem;

        &:hover {
          color: white;
        }

        &.active {
          color: $blue;
        }
      }
    }
  }
}

@media (max-width: $md) {
  .navbar-collapse {
    height: 100vh;
  }
}

