.sales-page-btn {
  @extend .red-btn;

  width: 70rem;
  display: flex;
  justify-content: center;
  margin-top: 12rem;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid $red;

  &:hover {
    border: 3px solid $blue;
  }

  @media (max-width: $md) {
    margin-top: 10rem;
    border: 2px solid $red;

    &:hover {
      border: 2px solid $blue;
    }
  }

  .mobile {
    display: none;
  }

  @media (max-width: $md) {
    width: 100%;

    .mobile {
      display: flex;
      height: 2rem;
    }

    .desktop {
      display: none;
    }
  }
}

#sales .content {
  color: $font-color;
}

.preis {
  color: $font-color;
  // margin-top: 1.5vh;
}
