/* stylelint-disable */
@font-face {
  font-family: "ABCFavorit-Book";
  //   src: url("../fonts/ABCFavorit-Book.otf") format("opentype");
  src: url("../fonts/ABCFavorit-Book.woff") format("woff"),
    url("../fonts/ABCFavorit-Book.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
