/* stylelint-disable */

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

main {
  margin-top: 10.7rem;

  @media (max-width: $md) {
    margin-top: 8rem;
  }
}

body {
  font-family: "ABCFavorit-Book", sans-serif;
  font-size: 2.5rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  hyphens: auto;
  color: #464646;
  line-height: 1.3;

  @media (max-width: $md) {
    font-size: 1.75rem;
  }

  p {
    margin-bottom: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  h1 {
    font-size: 3.5rem;

    @media (max-width: $md) {
      font-size: 2.75rem;
    }
  }

  h2 {
    font-size: 3.5rem;

    @media (max-width: $md) {
      font-size: 2.25rem;
    }
  }

  h3 {
    font-size: 4rem;

    @media (max-width: $md) {
      font-size: 2.25rem;
    }
  }

  a {
    &:hover {
      text-decoration: none;
    }
  }

  .page-title {
    background-color: $red;
    color: white;
    display: flex;
    justify-content: center;
    height: 5.1rem;
    display: flex;
    align-items: center;

    @media (max-width: $md) {
      height: 4rem;
    }
  }

  .title-img {
    width: 100%;
    margin: 0;
    position: relative;
    height: 60rem;

    @media (max-width: $lg) {
      height: 40rem;
    }


    @media (max-width: $xs) {
      height: 50rem;
    }

    img {
      width: 100%;
      height: 100%;
      max-height: 60rem;
      object-fit: cover;
    }
  }

  .container {
    max-width: $xl;
    padding-right: 4rem;
    padding-left: 4rem;

    @media (max-width: $md) {
      padding-right: 2rem;
      padding-left: 2rem;
    }
  }

  .introduction {
    color: $red;
    margin-bottom: 10rem;
    margin-top: 3.5rem;

    @media (max-width: $md) {
      margin-bottom: 4.5rem;
    }
  }

  .content-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10rem;

    @media (max-width: $md) {
      flex-direction: column;
      margin-bottom: 6rem;
    }

    h2 {
      color: $blue;

      @media (max-width: $md) {
        padding-bottom: 2rem;
      }
    }

    .content {
      width: 66%;

      @media (max-width: $md) {
        width: 100%;
      }

      .content-img {
        padding-top: 3rem;
        max-height: 56rem;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      // class address
      .address {
        @media (max-width: $md) {
          font-size: 1.5rem;
        }
      }
    }
  }
}

// Buttons
.red-btn {
  border: 4px solid $red;
  background-color: transparent;
  color: $red;
  border-radius: 100px;
  padding: 5px 20px;
  height: 5rem;
  width: auto;
  margin: 0;

  @media (max-width: $md) {
    height: 3rem;
    padding: 0px 20px;
    border: 2px solid $red;
  }

  a,
  h2 {
    color: $red;
    padding-bottom: 0;
  }

  &:hover {
    color: $blue;
    border: 4px solid $blue;
    text-decoration: none;

    @media (max-width: $md) {
      border: 2px solid $blue;
    }

    a,
    h2 {
      color: $blue;
      text-decoration: none;
    }

    img {
      filter: invert(51%) sepia(67%) saturate(1955%) hue-rotate(176deg)
        brightness(90%) contrast(91%);
    }
  }

  &:focus {
    outline: none;
  }
}

// Box-content for Zubehör, blog posts, sales
.bikes-box {
  margin-bottom: 20rem;

  @media (max-width: $md) {
    margin-bottom: 5rem;
  }

  h2 {
    color: $blue;
    margin-bottom: 2.5vh;
  }

  .bike-content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;

    ul {
      list-style: none;
      padding-left: 28px;

      li {
        position: relative;
        font-size: 1.8rem;
      }

      li:before {
        content: "\2014";
        position: absolute;
        left: -28px;
      }
    }

    @media (max-width: $md) {
      flex-direction: column;
      justify-content: start;
    }

    .content-left {
      display: flex;
      flex-direction: column;
      width: 30%;
      order: 1;

      @media (max-width: $md) {
        width: 100%;
        min-height: 380px;
      }

      .content-title {
        color: $red;
        margin-bottom: 0;
        font-size: 2.5rem;
      }

      .preis{
        font-size: 1.8rem;
      }

      div{
        font-size: 1.8rem;
      }

      p {
        margin-right: 3rem;
        margin-bottom: 2.5vh;
        font-size: 1.8rem;

        @media (max-width: $md) {
          margin-right: 0;
        }
      }
    }

    .bike-img {
      width: 66%;
      order: 2;
      max-height: 60vh;

      @media (max-width: $md) {
        width: 100%;
        // order: 1;
        margin-bottom: 1.5vh;
        margin-top: 1.5vh;
        height:44vh !important;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          object-position: center;
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}

// modal
.modal-full {
  min-width: 100% !important;
  margin: 0;
}

.modal-full .modal-content {
  min-height: 100vh;
  min-width: 100%;

  // Modal button
  .close {
    background-color: white;
    position: relative;
    width: 44px;
    height: 3px;
    margin-top: 3rem;
    opacity: 1;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }

    &:focus {
      outline: none;
    }

    &::after,
    &::before {
      position: absolute;
      display: block;
      content: " ";
      width: 44px;
      height: 3px;
      background-color: $font-hover-color;
    }

    &::before {
      top: 0;
      transform-origin: center center;
      transform: rotate(-45deg);
    }

    &::after {
      top: 0;
      transform-origin: center center;
      transform: rotate(45deg);
    }
  }
}

.swiper-container {
  height: auto;
  margin: 0;

  .swiper-slide {
    overflow: hidden;
  }
}

// Arrow to scroll back to top
.toTop {
  width: fit-content;
  height: 7rem;
  cursor: pointer;

  @media (max-width: $md) {
    height: 5rem;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain !important;

    &:hover {
      filter: invert(51%) sepia(67%) saturate(1955%) hue-rotate(176deg)
        brightness(90%) contrast(91%);
    }
  }
}
